@using System.Web.UI.WebControls
<aside class="main-sidebar">

    <section class="sidebar">

        <div class="sidebar-images">
            <div class="images-container">
                <img class="disp1" src="@Url.Content("~/Content/dist/img//pexels-rajesh-tp-1633578.jpg")" alt="">
                <img class="disp2" src="@Url.Content("~/Content/dist/img/pexels-rajesh-tp-1624487.jpg")" alt="">
                <img class="disp3" src="@Url.Content("~/Content/dist/img/pexels-pixabay-372882.jpg")" alt="">
                <img class="disp4" src="@Url.Content("~/Content/dist/img/pexels-oleg-magni-1853003.jpg")" alt="">
            </div>
        </div>

    </section>

</aside>

<style type="text/css">
    .images-container {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 0.875rem;
        align-items: center;
    }

    .images-container > img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        vertical-align: bottom;
        margin: 10px 10px;
    }
</style>

