
<aside class="main-sidebar">

    <section class="sidebar">

        <div class="sidebar-images">
            <div class="images-container">

                <div class="imgcont">
                    <img class="img-disp" id="pic1" src="@Url.Content("~/Content/dist/img/RandomImages/pexels-rajesh-tp-1633578.jpg")" alt="">
                </div>

                <div class="imgcont">
                    <img class="img-disp" id="pic2" src="@Url.Content("~/Content/dist/img/RandomImages/pexels-rajesh-tp-1624487.jpg")" alt="">
                </div>

                <div class="imgcont">
                    <img class="img-disp" id="pic3" src="@Url.Content("~/Content/dist/img/RandomImages/pexels-pixabay-372882.jpg")" alt="">
                </div>

                <div class="imgcont">
                    <img class="img-disp" id="pic4" src="@Url.Content("~/Content/dist/img/RandomImages/megan-thomas-xMh_ww8HN_Q-unsplash.jpg")" alt="">
                </div>


            </div>
        </div>

    </section>

</aside>


<style type="text/css">

    .images-container {
       
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 0.875rem;
        align-items: center;
    }

        .images-container > div.imgcont {
            position: relative;
          /*  max-width: 100%;
            max-height: 100%;*/
            vertical-align: bottom;
            margin: 10px 10px;
            
        }

            .images-container > div.imgcont > img.img-disp {
                position: center;
                width: 100%;
                height: 100%;
                object-fit: contain;

                box-shadow: 0px 0px 5px #ccc;
                -moz-box-shadow: 0px 0px 5px #ccc;
                -webkit-box-shadow: 0px 0px 5px #ccc;
            }
</style>


