<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>TestConfig</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\SalsResto\SBOSysTacV2.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>www.sals-resto.com</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PegasusEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-JNTKHEL;Initial Catalog=PegasusTacV2Test;Persist Security Info=True;User ID=sa;Password=Marybeatriz100811;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SBOSysTacV2.Models.PegasusEntities, SBOSysTacV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PegasusEntities2" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-JNTKHEL;Initial Catalog=PegasusTacV2Test;Persist Security Info=True;User ID=sa;Password=Marybeatriz100811;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SBOSysTacV2.Models.ApplicationUser+ApplicationDbContext, SBOSysTacV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PegasusEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PegasusEntities.csdl|res://*/Models.PegasusEntities.ssdl|res://*/Models.PegasusEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-JNTKHEL;Initial Catalog=PegasusTacV2Test;Persist Security Info=True;User ID=sa;Password=Marybeatriz100811;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PegasusEntities2-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-JNTKHEL;Initial Catalog=PegasusTacV2Test;Persist Security Info=True;User ID=sa;Password=Marybeatriz100811;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>