@using SBOSysTacV2.ViewModel
@model TransactionDetailsViewModel


<style type="text/css">




</style>



<div class="row">
    <section class="content">

        @*<div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-5 col-sm-offset-7 text-right">
                    <div class="button-group" style="margin-right: 14px;">
                        <a class="btn bg-olive btn-flat" href="@Url.Action("Index", "Bookings")"><i class="fa fa-reply"></i> Bookings </a>
                        <a class="btn bg-olive btn-flat" href="@Url.Action("GetPackageBookingDetails", "Bookings",new {transId =Model.transactionId})"><i class="fa fa-reply"></i> Details </a>
                        <a class="btn bg-olive btn-flat" href="@Url.Action("PrintDistribution","Bookings",new {transId=Model.transactionId})"> <i class="fa fa-print"></i> Print Distribution</a>
                        <button class="btn bg-olive btn-flat" type="button" id="btn_PrintDistribution"><i class="fa fa-print"></i> Print Distribution </button>
                    </div>
                </div>
            </div>*@

        <div class="row">
            <div class="col-md-6" id="bookmenus" style="height:100%;">
                @{ Html.RenderAction(Model.Package_Trans.p_type.TrimEnd() == "sd" ? "GetSnacksPartial" : "GetBookMenusPartial", "Bookings", new {transactionId = Model.transactionId}); }
            </div>
            
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="addons">
                        @{ Html.RenderAction("GetListofAddons", "Bookings", new {transid = Model.transactionId});} 
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12 my-5" id="addonsdetails">

                    </div>
                </div>

            </div>
        </div>
        
    </section>
</div>



